@media (min-width: 1192px) and (max-width: 1761px) {

    /*Primeira Página*/
    .navegation {
        justify-content: center;
    }

    .nameLogo {
        display: none;
    }

    .options {
        padding-right: 0;
    }

    .container {
        width: 90%;
        gap: 30px;
    }

    .apresentation h1 {
        line-height: 48px;
        font-size: 56px;
    }

    .apresentation p {
        font-size: 24px;
    }

    .myself img {
        height: 350px;
        width: 350px;
    }

    /*Segunda Página*/
    .info {
        gap: 50px;
        width: 76%;
    }

    .myInfo {
        font-size: 56px;
    }

    .infos {
        font-size: 24px;
    }

    /*Terceira Página*/
    .skills {
        gap: 50px;
    }

    .list {
        flex-direction: column;
        gap: 30px;
    }

    .titleSkills {
        font-size: 56px;
    }

    .list p {
        text-align: center;
        font-size: 24px;
    }

    .list i {
        font-size: 100px;
    }

    /*Quarta Página*/
    .fourthBox {
        height: auto;
        gap: 50px;
    }

    .titleProjects {
        font-size: 56px;
    }

    .projectsContainer {
        gap: 60px;
        flex-direction: column;
    }

    .imagens {
        height: 600px;
        max-width: 650px;
    }

    .imagens h1 {
        padding-top: 20px;
    }

    .imagens p {
        color: var(--cor-base);
        text-align: center;
        padding: 8px;
    }

    .imagens img {
        height: 400px;
        width: 650px;
    }

    /*Quinta Página*/
    .contact {
        font-size: 46px;
    }

    .contactText {
        font-size: 24px;
        color: var(--cor-secundaria);
    }

    .boxContact {
        height: 400px;
        width: 700px;
    }

    .boxContactText h1 {
        font-size: 34px;
    }

    .boxContactText i {
        font-size: 40px;
    }

    .iconsContact i {
        color: var(--cor-secundaria);
        font-size: 60px;
        transition: all 0.2s ease-in-out;
    }
}

@media (min-width: 768px) and (max-width: 1191px) {

    /*Primeira Página*/
    .navegation {
        justify-content: center;
    }

    .nameLogo {
        display: none;
    }

    .options {
        padding-right: 0;
    }

    .container {
        width: 90%;
        gap: 30px;
    }

    .apresentation h1 {
        line-height: 44px;
        font-size: 46px;
    }

    .apresentation p {
        font-size: 20px;
    }

    .myself img {
        height: 300px;
        width: 300px;
    }

    /*Segunda Página*/
    .info {
        gap: 50px;
        width: 76%;
    }

    .myInfo {
        font-size: 46px;
    }

    .infos {
        font-size: 20px;
    }

    /*Terceira Página*/
    .skills {
        gap: 50px;
    }

    .list {
        flex-direction: column;
        gap: 30px;
    }

    .titleSkills {
        font-size: 46px;
    }

    .list p {
        text-align: center;
        font-size: 20px;
    }

    .list i {
        font-size: 90px;
    }

    /*Quarta Página*/
    .fourthBox {
        height: auto;
        gap: 50px;
    }

    .titleProjects {
        font-size: 46px;
    }

    .projectsContainer {
        gap: 60px;
        flex-direction: column;
    }

    .imagens {
        height: 550px;
        max-width: 450px;
    }

    .imagens h1 {
        padding-top: 20px;
    }

    .imagens img {
        height: 300px;
        width: 450px;
    }

    /*Quinta Página*/
    .contact {
        font-size: 46px;
    }

    .contactText {
        font-size: 24px;
        color: var(--cor-secundaria);
    }

    .boxContact {
        height: 350px;
        width: 550px;
    }

    .boxContactText h1 {
        font-size: 34px;
    }

    .boxContactText i {
        font-size: 40px;
    }

    .iconsContact i {
        color: var(--cor-secundaria);
        font-size: 60px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 767px) {

    /*Ícone do Whatsapp*/
    #socialMedia {
        right: 5px;
        bottom: 25px;
        height: 50px;
        width: 50px;
    }

    #socialMedia i {
        font-size: 28px;
    }

    #voltarTopo {
        right: 5px;
        bottom: 85px;
        height: 50px;
        width: 50px;
    }

    #voltarTopo i {
        font-size: 28px;
    }
}

@media (min-width: 451px) and (max-width: 767px) {

    /*Primeira Página*/
    .navegation {
        justify-content: center;
    }

    .nameLogo {
        display: none;
    }

    .options {
        font-size: 14px;
        padding-right: 0;
    }

    .container {
        flex-direction: column-reverse;
        width: 90%;
        gap: 10px;
    }

    .apresentation h1 {
        line-height: 28px;
        font-size: 30px;
    }

    .apresentation p {
        font-size: 14px;
    }

    .myself img {
        height: 250px;
        width: 250px;
    }

    /*Segunda Página*/
    .info {
        gap: 50px;
        width: 76%;
    }

    .myInfo {
        font-size: 30px;
    }

    .infos {
        font-size: 14px;
    }

    /*Terceira Página*/
    .skills {
        gap: 50px;
    }

    .list {
        flex-direction: column;
        gap: 30px;
    }

    .titleSkills {
        font-size: 30px;
    }

    .list p {
        text-align: center;
        font-size: 15px;
    }

    .list i {
        font-size: 60px;
    }

    /*Quarta Página*/
    .fourthBox {
        height: auto;
        gap: 50px;
    }

    .titleProjects {
        font-size: 30px;
    }

    .projectsContainer {
        gap: 40px;
        flex-direction: column;
    }

    .imagens {
        height: 450px;
        max-width: 300px;
    }

    .imagens h1 {
        font-size: 20px;
        padding-top: 20px;
    }

    .imagens img {
        height: 150px;
        width: 300px;
    }

    .referencias i {
        font-size: 20px;
    }

    .referencias a {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        font-size: 14px;
        color: var(--cor-base);
        transition: all 0.2s ease-in-out;
    }

    /*Quinta Página*/
    .contact {
        font-size: 30px;
    }

    .contactText {
        font-size: 14px;
        color: var(--cor-secundaria);
    }

    .boxContact {
        height: 250px;
        width: 400px;
    }

    .boxContactText h1 {
        font-size: 16px;
    }

    .boxContactText i {
        font-size: 16px;
    }

    .iconsContact i {
        color: var(--cor-secundaria);
        font-size: 40px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 450px) {

    /*Primeira Página*/
    .navegation {
        justify-content: center;
    }

    .nameLogo {
        display: none;
    }

    .options {
        gap: 10px;
        font-size: 10px;
        padding-right: 0;
    }

    .container {
        flex-direction: column-reverse;
        width: 90%;
        gap: 10px;
        margin-bottom: 20px;
    }

    .apresentation h1 {
        line-height: 28px;
        font-size: 30px;
    }

    .apresentation p {
        font-size: 14px;
    }

    .myself img {
        height: 250px;
        width: 250px;
    }

    /*Segunda Página*/
    .info {
        gap: 30px;
        width: 76%;
    }

    .myInfo {
        font-size: 28px;
    }

    .infos {
        font-size: 12px;
    }

    /*Terceira Página*/
    .skills {
        gap: 50px;
    }

    .list {
        flex-direction: column;
        gap: 30px;
    }

    .titleSkills {
        font-size: 30px;
    }

    .list p {
        text-align: center;
        font-size: 15px;
    }

    .list i {
        font-size: 60px;
    }

    /*Quarta Página*/
    .fourthBox {
        height: auto;
        gap: 50px;
    }

    .titleProjects {
        font-size: 30px;
    }

    .projectsContainer {
        gap: 30px;
        flex-direction: column;
    }

    .imagens {
        height: 450px;
        max-width: 250px;
    }

    .imagens h1 {
        font-size: 18px;
        padding-top: 20px;
    }

    .imagens img {
        height: 150px;
        width: 250px;
    }

    .referencias i {
        font-size: 20px;
    }

    .referencias a {
        padding: 0 10px;
        font-size: 12px;
    }

    /*Quinta Página*/
    .contact {
        font-size: 30px;
    }

    .contactText {
        font-size: 14px;
        color: var(--cor-secundaria);
    }

    .boxContact {
        height: 210px;
        width: 280px;
    }

    .boxContactText h1 {
        font-size: 16px;
    }

    .boxContactText i {
        font-size: 16px;
    }

    .iconsContact i {
        color: var(--cor-secundaria);
        font-size: 40px;
        transition: all 0.2s ease-in-out;
    }

    .direitos {
        font-size: 12px;
    }
}

@media (max-width: 300px) {

    /*Primeira Página*/
    .options {
        gap: 8px;
    }

    .container {
        width: 95%;
        gap: 2px;
    }

    .apresentation h1 {
        line-height: 24px;
        font-size: 26px;
    }

    .apresentation p {
        font-size: 12px;
    }

    .myself img {
        height: 180px;
        width: 180px;
    }

    /*Segunda Página*/
    .info {
        gap: 20px;
        width: 90%;
    }

    .myInfo {
        font-size: 24px;
    }

    .infos {
        font-size: 10px;
    }

    /*Terceira Página*/
    .skills {
        gap: 40px;
    }

    .list {
        flex-direction: column;
        gap: 25px;
    }

    .titleSkills {
        font-size: 24px;
    }

    .list p {
        text-align: center;
        font-size: 10px;
    }

    .list i {
        font-size: 45px;
    }

    /*Quarta Página*/
    .fourthBox {
        height: auto;
        gap: 50px;
    }

    .titleProjects {
        font-size: 30px;
    }

    .projectsContainer {
        gap: 30px;
        flex-direction: column;
    }

    .imagens {
        height: 450px;
        max-width: 250px;
    }

    .imagens h1 {
        font-size: 18px;
        padding-top: 20px;
    }

    .imagens img {
        height: 150px;
        width: 250px;
    }

    .referencias i {
        font-size: 20px;
    }

    .referencias a {
        padding: 0 10px;
        font-size: 12px;
    }

    /*Quinta Página*/
    .contact {
        font-size: 24px;
    }

    .contactText {
        font-size: 14px;
        color: var(--cor-secundaria);
    }

    .boxContact {
        height: 180px;
        width: 240px;
    }

    .boxContactText h1 {
        font-size: 16px;
    }

    .boxContactText i {
        font-size: 16px;
    }

    .iconsContact i {
        color: var(--cor-secundaria);
        font-size: 36px;
        transition: all 0.2s ease-in-out;
    }

    .direitos {
        font-size: 12px;
    }
}

@media (max-height: 800px) {
    body {
        gap: 120px;
    }

    .fifthBox {
        gap: 60px;
    }
}


@media (max-height: 700px) {

    /*Ícone do Whatsapp*/
    #socialMedia {
        right: 10px;
        bottom: 25px;
        height: 50px;
        width: 50px;
    }

    #socialMedia i {
        font-size: 28px;
    }

    #voltarTopo {
        right: 10px;
        bottom: 85px;
        height: 50px;
        width: 50px;
    }

    #voltarTopo i {
        font-size: 28px;
    }

    body {
        gap: 120px;
    }

    /*Primeira Página*/
    .navegation {
        justify-content: center;
    }

    .nameLogo {
        display: none;
    }

    .options {
        font-size: 14px;
        padding-right: 0;
    }

    .container {
        flex-direction: column-reverse;
        width: 90%;
        gap: 10px;
    }

    .apresentation h1 {
        line-height: 28px;
        font-size: 28px;
    }

    .apresentation p {
        font-size: 14px;
    }

    .myself img {
        height: 220px;
        width: 220px;
    }

    /*Segunda Página*/
    .info {
        gap: 50px;
        width: 76%;
    }

    .myInfo {
        font-size: 30px;
    }

    .infos {
        font-size: 14px;
    }

    /*Terceira Página*/
    .skills {
        gap: 30px;
    }

    .list {
        flex-direction: column;
        gap: 20px;
    }

    .titleSkills {
        font-size: 30px;
    }

    .list p {
        text-align: center;
        font-size: 15px;
    }

    .list i {
        font-size: 60px;
    }

    /*Quarta Página*/
    .fourthBox {
        height: auto;
        gap: 50px;
    }

    .titleProjects {
        font-size: 30px;
    }

    .projectsContainer {
        gap: 40px;
        flex-direction: column;
    }

    .imagens {
        height: 450px;
        max-width: 300px;
    }

    .imagens h1 {
        font-size: 20px;
        padding-top: 20px;
    }

    .imagens img {
        height: 150px;
        width: 300px;
    }

    .referencias i {
        font-size: 20px;
    }

    .referencias a {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        font-size: 14px;
        color: var(--cor-base);
        transition: all 0.2s ease-in-out;
    }

    /*Quinta Página*/
    .fifthBox {
        gap: 60px;
    }

    .contact {
        font-size: 30px;
    }

    .contactText {
        font-size: 14px;
        color: var(--cor-secundaria);
    }

    .boxContact {
        height: 150px;
        width: 400px;
    }

    .boxContactText h1 {
        font-size: 16px;
    }

    .boxContactText i {
        font-size: 16px;
    }

    .iconsContact i {
        color: var(--cor-secundaria);
        font-size: 40px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 200px) and (max-height: 250px) {

    /*Ícone do Whatsapp*/
    #socialMedia {
        display: none;
        right: 0px;
        bottom: 0px;
        height: 0px;
        width: 0px;
    }

    #socialMedia i {
        display: none;
    }

    #voltarTopo {
        display: none;
        right: 0px;
        bottom: 0px;
        height: 0px;
        width: 0px;
    }

    #voltarTopo i {
        display: none;
    }

    /*Primeira Página*/
    .firstBox {
        height: 100vh;
    }

    .navegation {
        display: none;
    }

    .nameLogo {
        display: none;
    }

    .options {
        display: none;
    }

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .apresentation h1 {
        text-align: center;
        line-height: 10px;
        color: var(--cor-primaria);
        font-size: 10px;
    }

    .apresentation span {
        color: var(--cor-primaria);
        font-weight: bold;
    }

    .apresentation p {
        display: none;
    }

    .myself img {
        margin-top: 10px;
        height: 80px;
        width: 80px;
        border: 6px solid var(--cor-primaria);
        border-radius: 50%;
    }

    /*Segunda Página*/
    .secondBox {
        height: 100vh;
    }

    .info {
        gap: 5px;
        width: 90%;
    }

    .myInfo {
        font-size: 10px;
    }

    .infos {
        font-size: 6px;
    }

    /*Terceira Página*/
    .thirdBox {
        height: 100vh;
    }

    .skills {
        gap: 10px;
    }

    .list {
        gap: 10px;
    }

    .titleSkills {
        font-size: 10px;
    }

    .list p {
        font-size: 5px;
    }

    .list i {
        font-size: 20px;
    }

    .list i:hover {
        color: var(--cor-primaria);
    }

    /*Quarta Página*/
    .fourthBox {
        height: auto;
        gap: 10px;
    }

    .titleProjects {
        font-size: 10px;
    }

    .projectsContainer {
        width: 95%;
    }

    .imagens {
        height: 150px;
        max-width: 120px;
    }

    .imagens h1 {
        padding-top: 5px;
        font-size: 8px;
    }

    .imagens p {
        display: none;
    }

    .imagens img {
        height: 130px;
        width: 120px;
    }

    .referencias {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        padding-bottom: 10px;
    }

    .referencias i {
        font-size: 5px;
    }

    .referencias a {
        gap: 5px;
        font-size: 6px;
    }

    /*Quinta Página*/
    .fifthBox {
        height: 100vh;
        gap: 10px;
    }

    .boxInfoContact {
        gap: 10px;
    }

    .contact {
        font-size: 10px;
    }

    .contactText {
        font-size: 8px;
    }

    .boxContact {
        border-radius: 5px;
        border: 1px solid var(--cor-primaria);
        height: 50px;
        width: 140px;
    }

    .boxContactText {
        gap: 10px;
    }

    .boxContactText h1 {
        display: none;
    }

    .boxContactText i {
        display: none;
    }

    .iconsContact i {
        font-size: 20px;
    }

    .direitos {
        font-size: 8px;
    }
}