@media (max-height: 800px){
    .firstBox{
        height: auto;
    }
    .secondBox{
        height: auto;
    }
    .thirdBox{
        height: auto;
    }
    .fourthBox{
        height: auto;
    }
    .fifthBox{
        height: auto;
    }
}

@media (max-width: 1700px) {



    /*Quarta Página*/
    .fourthBox {
        height: auto;

    }

    .projectsContainer {
        flex-direction: column;
        gap: 60px;
    }

    .imagens {
        height: 650px;
        max-width: 800px;
    }

    .imagens h1 {
        font-size: 30px;
    }

    .imagens p {
        font-size: 20px;
    }

    .imagens img {
        height: 400px;
        width: 800px;
    }

    .referencias {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 10px;
    }

    .referencias i {
        font-size: 25px;
    }

    .referencias a {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        font-size: 15px;
        color: var(--cor-base);
        transition: all 0.2s ease-in-out;
    }

    .referencias a:hover {
        color: var(--cor-secundaria);
    }










}


@media (max-width: 1200px) {





    /*Primeira Página*/
    .firstBox {
        height: auto;
        margin-bottom: 100px;
    }



    .navegation {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .nameLogo {
        display: none;
    }

    .options {
        padding-right: 0;
        font-size: 22px;
    }


    .container {
        flex-direction: column-reverse;
    }

    .apresentation h1 {
        text-align: center;
        font-size: 50px;
    }

    .apresentation p {
        margin-top: 40px;
        font-size: 20px;
    }

    .myself img {
        margin-bottom: 40px;
        height: 300px;
        width: 300px;
    }


















    /*Segunda Página*/
    .secondBox {
        height: auto;
        margin-bottom: 100px;
    }


    .info {
        width: 80%;
    }

    .myInfo {
        font-size: 50px;
    }

    .infos {
        font-size: 20px;
    }






    /*Terceira Página*/
    .thirdBox {
        height: auto;
        margin-bottom: 100px;
    }


    .skills {
        gap: 30px;
    }

    .list {
        flex-direction: column;
        gap: 20px;
    }

    .titleSkills {
        font-size: 50px;
    }

    .list p {
        font-size: 20px;
    }

    .list i {
        font-size: 90px;
    }


















    /*Quarta Página*/
    .fourthBox {
        height: auto;
        margin-bottom: 100px;
        gap: 60px;
    }

    .titleProjects {
        font-size: 50px;
    }

    .projectsContainer {
        flex-direction: column;
        gap: 30px;
    }

    .imagens {
        flex-direction: column;
        height: 500px;
        max-width: 400px;
    }

    .imagens h1 {
        font-size: 28px;
    }

    .imagens p {
        font-size: 18px;
        padding: 0 18px;
    }

    .imagens img {
        height: 250px;
        width: 400px;
    }










    /*Quinta Página*/
    .fifthBox {
        height: auto;
        gap: 90px;
    }

    .boxInfoContact {
        gap: 30px;
    }

    .contact {
        font-size: 50px;
    }

    .contactText {
        font-size: 20px;
    }

    .boxContact {
        height: 300px;
        width: 600px;
        margin-bottom: 140px;
    }


    .boxContactText h1 {
        font-size: 30px;
    }

    .boxContactText i {
        font-size: 30px;
    }

    .iconsContact i {
        font-size: 50px;
    }


}

@media (max-width: 1100px) {



    /*Redes Sociais*/
    #socialMedia {
        rigth: 10px;
        height: 60px;
        width: 60px;
    }

    #socialMedia i {
        font-size: 30px;
    }




    #voltarTopo {
        bottom: 130px;
        right: 10px;
        height: 60px;
        width: 60px;
    }

    #voltarTopo i {
        font-size: 30px;
    }



}



@media (max-width: 800px) {



    /*Primeira Página*/


    .navegation {
        margin-top: 30px;
        margin-bottom: 130px;
    }

    .options {
        font-size: 18px;
    }


    .apresentation h1 {

        font-size: 40px;
    }

    .apresentation p {
        margin-top: 30px;
        font-size: 18px;
    }

    .myself img {
        margin-bottom: 30px;
        height: 280px;
        width: 280px;
    }






    /*Segunda Página*/

    .myInfo {
        margin-top: 120px;
        font-size: 40px;
    }

    .infos {
        width: 80%;
        font-size: 16px;
    }






    /*Terceira Página*/

    .skills {
        margin-top: 110px;
        gap: 40px;
    }

    .list {
        gap: 30px;
    }

    .titleSkills {
        font-size: 40px;
    }

    .list p {
        font-size: 18px;
    }

    .list i {
        font-size: 70px;
    }





    /*Quarta Página*/


    .titleProjects {
        font-size: 40px;
    }

    .imagens {
        height: 488px;
        max-width: 390px;
    }

    .imagens h1 {
        font-size: 26px;
    }

    .imagens p {
        font-size: 16px;
        padding: 0 15px;
    }

    .imagens img {
        height: 248px;
        width: 390px;
    }




    /*Quinta Página*/

    .contact {
        margin-top: 120px;
        font-size: 40px;
    }

    .contactText {
        font-size: 18px;
    }

    .boxContact {
        height: 250px;
        width: 400px;
        margin-bottom: 210px;
    }


    .boxContactText h1 {
        font-size: 26px;
    }

    .boxContactText i {
        font-size: 24px;
    }

    .iconsContact i {
        font-size: 40px;
    }


}

@media (max-width: 600px) {



    /*Primeira Página*/


    .navegation {
        margin-top: 30px;
        margin-bottom: 120px;
    }

    .options {
        font-size: 14px;
    }


    .apresentation h1 {
        margin-top: 20px;
        font-size: 30px;
    }

    .apresentation p {
        margin-top: 36px;
        font-size: 16px;
    }

    .myself img {
        margin-bottom: 30px;
        height: 200px;
        width: 200px;
    }






    /*Segunda Página*/

    .myInfo {
        font-size: 30px;
    }

    .infos {
        width: 80%;
        font-size: 14px;
    }






    /*Terceira Página*/

    .skills {
        margin-top: 130px;
        gap: 30px;
    }

    .list {
        gap: 30px;
    }

    .titleSkills {
        font-size: 30px;
    }

    .list p {
        font-size: 16px;
    }

    .list i {
        font-size: 50px;
    }





    /*Quarta Página*/


    .titleProjects {
        margin-top: 90px;
        font-size: 30px;
    }

    .imagens {
        height: 450px;
        max-width: 350px;
    }

    .imagens h1 {
        font-size: 24px;
    }

    .imagens p {
        font-size: 14px;
        padding: 0 14px;
    }

    .imagens img {
        height: 220px;
        width: 350px;
    }




    /*Quinta Página*/

    .contact {
        margin-top: 220px;
        font-size: 30px;
    }

    .contactText {
        font-size: 16px;
    }

    .boxContact {
        height: 240px;
        width: 380px;
        margin-bottom: 220px;
    }


    .boxContactText h1 {
        font-size: 24px;
    }

    .boxContactText i {
        font-size: 22px;
    }

    .iconsContact i {
        font-size: 38px;
    }


}


@media (max-width: 500px) {
        /*Redes Sociais*/
        #socialMedia {
            right: 5px;
            height: 50px;
            width: 50px;
        }
    
        #socialMedia i {
            font-size: 28px;
        }
    
    
    
    
        #voltarTopo {
            bottom: 110px;
            right: 5px;
            height: 50px;
            width: 50px;
        }
    
        #voltarTopo i {
            font-size: 28px;
        }

    /*Primeira Página*/
.navegation {
    margin-bottom: 130px;
}

    .options {
        font-size: 12px;
    }

    .apresentation h1 {
        font-size: 28px;
    }

    

    .apresentation p {
        margin-top: 50px;
        font-size: 14px;
    }

    .myself img {
        margin-bottom: 30px;
        height: 180px;
        width: 180px;
    }

    /*Segunda Página*/

    .myInfo {
        font-size: 28px;
    }

    .infos {
        font-size: 14px;
    }


    /*Terceira Página*/


    .titleSkills {
        font-size: 28px;
    }

    .list p {
        font-size: 14px;
    }

    .list i {
        font-size: 40px;
    }

    /*Quarta Página*/


    .titleProjects {
        font-size: 28px;
    }

    .imagens {
        height: 360px;
        max-width: 300px;

    }

    .imagens h1 {
        font-size: 22px;
    }

    .imagens p {
        font-size: 13px;
        padding: 0 10px;
    }

    .imagens img {
        height: 200px;
        width: 300px;
    }

    /*Quinta Página*/
    .fifthBox {
        gap: 60px;
    }


    .contact {
        font-size: 28px;
    }

    .contactText {
        font-size: 13px;
    }

    .boxContact {
        height: 180px;
        width: 300px;
        margin-bottom: 260px;
    }

    .boxContactText h1 {
        font-size: 22px;
    }

    .boxContactText i {
        font-size: 20px;
    }

    .iconsContact i {
        font-size: 34px;
    }

}




@media (max-width: 400px) {
    /*Redes Sociais*/
    #socialMedia {
        right: 2px;
        height: 40px;
        width: 40px;
    }

    #socialMedia i {
        font-size: 18px;
    }




    #voltarTopo {
        bottom: 90px;
        right: 2px;
        height: 40px;
        width: 40px;
    }

    #voltarTopo i {
        font-size: 20px;
    }

/*Primeira Página*/

.options {
    margin-bottom: 20px;
    font-size: 10px;
}

.apresentation h1 {
    font-size: 24px;
}



.apresentation p {
    margin-top: 30px;
    font-size: 12px;
}

.myself img {
    height: 160px;
    width: 160px;
}

/*Segunda Página*/
.info {
    gap: 20px;
}

.myInfo {
    font-size: 24px;
}

.infos {
    font-size: 12px;
}


/*Terceira Página*/


.titleSkills {
    margin-top: 30px;
    font-size: 24px;
}

.list p {
    font-size: 12px;
}

.list i {
    font-size: 36px;
}

/*Quarta Página*/


.titleProjects {
    font-size: 24px;
}

.imagens {
    height: 360px;
    max-width: 240px;
}

.imagens h1 {
    font-size: 18px;
}

.imagens p {
    font-size: 12px;
    padding: 0 6px;
}

.imagens img {
    height: 170px;
    width: 240px;
}

.referencias a{
    font-size: 10px;
}

/*Quinta Página*/

.contact {
    font-size: 24px;
}

.contactText {
    font-size: 11px;
}

.boxContact {
    height: 150px;
    width: 260px;
    margin-bottom: 260px;
}

.boxContactText h1 {
    font-size: 18px;
}

.boxContactText i {
    font-size: 18px;
}

.iconsContact i {
    font-size: 30px;
}

}
